.accordianButton {
  color: #cad3d0;
}
.accordianBackground {
  border-top: none;
}
.accordianBackground:focus {
  box-shadow: none;
}
.css-1majcf8:focus,
.css-1majcf8[data-focus] {
  border: none;
}
